.d-flex.bd-highlight.w-100
  .p-1
    = link_to user_path(message.user) do
      = image_tag message.user.avatar.try(:url) || asset_path('svg/user.svg'), width: '50', height: '50'
  .p-1.w-100
    ul
      li.font-weight-bold
        = message.user.username
      li
        = message.body