.row
  .col-md-12.mt-4.mb-4.justify-content-md-center
    - @conversations.each do |conversation|
      - recipient_user = conversation.recipient(current_user.id)
      - message = conversation.messages.last
      .row.col-md-10.mx-auto.mt-4.mb-4.pb-3.pl-3.pr-6.pt-3.conversation-block
        .d-flex.bd-highlight.w-100
          .p-1
            = link_to user_path(recipient_user) do
              = image_tag recipient_user.avatar.try(:url) || asset_path('svg/user.svg'), width: '90', height: '90'
          .p-1.w-100
            ul
              li.name.font-weight-bold
                = message&.user&.username
              = link_to conversation_path(conversation) do
                li.last-message
                  = message&.body
