.row
  .col-md-12.mt-4.mb-4.justify-content-md-center
    .row.col-md-10.mx-auto.my-4.pb-3.pl-3.pr-6.pt-3.messages-block
      - if @messages.any?
        = render partial: 'message', collection: @messages, as: :message
      - else
        p.font-weight-light.text-center.w-100
          | No messages yet...
    .row.col-md-10.mx-auto.my-4.pb-3.pl-3.pr-6.pt-3.messages-block
      = form_for Message.new(user: current_user), html: { class: 'w-100' } do |f|
        = f.hidden_field :conversation_id, value: @conversation.id
        .form-group
          = f.text_area :body, class: 'form-control', placeholder: 'Type a message...'
        = f.submit 'Send', class: 'btn btn-primary float-right'
