.row
  .col-md-12.mt-4.mb-4.justify-content-md-center
    .row.col-md-10.mx-auto.mt-4.mb-4.pb-3.pl-3.pr-6.pt-1.user-info
      .col-md-4.pr-4.pt-3.pb-2
        a.inherit-width href='#'
          = image_tag asset_path('svg/user.svg'), class: 'avatar inherit-width'
        - if current_user
          - if @conversation.persisted?
            - url, method = conversation_path(@conversation), :get
          - else
            - url, method = conversations_path(recipient_id: @user.id), :post
          = link_to 'Go to Conversation', url, method: method, class: 'btn btn-success inherit-width'
      .col-md-6
        h3.mt-2.pb-2.user-name
          = @user.username
        .h4 Info
