.conversation-block {
  background: white;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.20);
  transition: box-shadow .15s ease-in-out;
  &:hover {
    transition: box-shadow .15s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.40);
  }
  ul {
    padding-left: 10px;
    li {
      list-style: none;
    }
  }
  .name {
    font-size: 1.25em;
  }
  a{
    display: block;
    text-decoration: none;
    color: black;
  }
  .last-message {
    background: aliceblue;
    border: 0.2em solid #dbedfd;
    min-height: 60px;
  }
}