.container-header{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  background-color: #e2f6ff;
  height: 80px;
}

header{
  padding: 15px 0 0 0;
  a.float-left {
    margin-right: 10px;
  }
  .home-text{
    background: transparent asset-data-url('svg/home.svg') no-repeat;
    text-decoration: none;
    font-size: 1.8em;
    color: #3a3a3a;
    padding-left: 48px
  }

  .message-text{
    background: transparent asset-data-url('svg/message.svg') no-repeat;
    text-decoration: none;
    font-size: 1.8em;
    color: #3a3a3a;
    padding-left: 48px
  }

  .login-text {
    text-decoration: none;
    font-size: 1.8em;
    color: #3a3a3a;
    padding-left: 45px;
    &.sign-in {
      background: transparent asset-data-url('svg/noname.svg') no-repeat;
      background-size: 30%;
      background-position: left center;
    }
    &.not-sign-in {
      background: transparent asset-data-url('svg/padlock.svg') no-repeat;
      background-size: 25%;
      background-position: left center;
    }
  }
}
