.user-info {
  background: white;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.20);
  transition: box-shadow .15s ease-in-out;
  &:hover {
    transition: box-shadow .15s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.40);
  }
  .avatar {
    height: auto;
    min-height: 300px;
  }
}
