- flash.each do |type, message|
  - if message.present?
    div class=("uk-notify-message alert #{bootstrap_class_for(type)} alert-dismissible")
      button.close[data-dismiss='alert']
        | ×
      div
        = message