title = content_for?(:title) ? yield(:title) : 'my-app'
meta name='keywords' content='my-app'
= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= csrf_meta_tags
= action_cable_meta_tag