.container-fluid.container-header
  header
    .row
      .col-sm-6.offset-md-3
        = link_to root_path, class: 'home-text float-left' do
          | Главная
        = link_to conversations_path, class: 'message-text float-left' do
          | Беседы
        - if user_signed_in?
          = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'login-text sign-in float-right'
        - else
          = link_to 'Войти', '#loginModal', class: 'login-text not-sign-in float-right', 'data-toggle' => 'modal', 'data-keyboard' => 'false', 'data-backdrop' => 'static'
- unless current_user
  = render 'layouts/login'
  = render 'layouts/sign_up'
