.modal.fade id='loginModal' tabindex='-1' role='dialog' aria-labelledby='loginModal' aria-hidden='true'
  .modal-dialog.modal-dialog-center role='document'
    .modal-content
      .modal-header
        h5.modal-title id='loginModalLabel' Войдите
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true'
            == ("&times")
      .modal-body
        = form_for(resource, as: resource_name, url: session_path(resource_name), remote: true, data: {type: 'json'}, html: {id: 'login_modal'}) do |f|

          .form-group
            = f.text_field :login, autofocus: true, placeholder: 'Login or Email', class: 'form-control'
          .form-group
            = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control', id: 'login_password'
          - if devise_mapping.rememberable?
            .form-group
              = f.check_box :remember_me
              = f.label :remember_me, class: 'pl-2'

          .form-group
            = f.submit 'Log in', class: 'btn btn-lg btn-success btn-block'
      .modal-footer.justify-content-start
        = link_to "Sign up", '#signUpModal', 'data-toggle' => 'modal', 'data-keyboard' => 'false', 'data-backdrop' => 'static', 'data-dismiss' => 'modal', class: 'justify-content-start'
        = link_to "Forgot your password?", new_password_path(resource_name), class: 'ml-auto p-2'