.modal.fade id='signUpModal' tabindex='-1' role='dialog' aria-labelledby='signUpModal' aria-hidden='true'
  .modal-dialog.modal-dialog-center role='document'
    .modal-content
      .modal-header
        h5.modal-title id='SignUpModalLabel' Зарегистрируйтесь
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true'
            == ("&times")
      .modal-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true, data: {type: 'json'}, html: {id: 'new_user_modal'}) do |f|

          .form-group
            = f.text_field :username, autofocus: true, placeholder: 'Login', class: 'form-control'
          .form-group
            = f.email_field :email, placeholder: 'Email', class: 'form-control'
          .form-group
            = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control', id: 'sign_up_password'
            em.pl-1
              | (6 characters minimum)
          .form-group
            = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password Confirmation', class: 'form-control'

          .form-group
            = f.submit 'Sign up', class: 'btn btn-lg btn-primary btn-block'
      .modal-footer.justify-content-start
        = link_to 'Sign in', '#loginModal', 'data-toggle' => 'modal', 'data-keyboard' => 'false', 'data-backdrop' => 'static', 'data-dismiss' => 'modal', class: 'justify-content-start'
        = link_to "Forgot your password?", new_password_path(resource_name), class: 'ml-auto p-2'