doctype html
html
  head
    - if content_for?(:head)
      = yield(:head)
    = render 'layouts/head'

  body
    .uk-notify.uk-notify-top-center
      = devise_error_messages!
      = render 'layouts/flash_message', flash: flash
    = render 'layouts/header'
    .container-fluid.container-main
      .container.container-fixed role='main'
        = yield

    = render 'layouts/footer'